@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>
<p>This is a basic employee management web app made using ASP.NET MVC.</p>


