@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<h2>Feel free to contact us any time</h2>
<p>
    Email: contact@ems.com
    Phone: +91-1234567890
</p>
<address>
    345 Street <hr />
    Company
</address>



